.head {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  background-color: black;
  border-bottom: solid;
  border-color: #fad000;
  border-radius: 0px 0px 20px 20px;
  margin: 0;
  overflow: hidden;
  color: #fad000;
}

img {
  width: 50px;
  height: 50px;
  margin: 20px 5px 0px 0px;
}

h1 {
  font-size: 2rem;
}

.styl {
  text-decoration: none;
}
