.search-area {
  margin: 45px 0px 0px 0px;
}

.textSearch {
  width: 80%;
}

.search-area input {
  width: 1000px;
  height: 30px;
  border-radius: 5px;
  background-color: #202124;
  color: #fad000;
  text-indent: 20px;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
  font-size: 14px;
  border: 1px solid rgba(250, 208, 0, 1);
}

.search-area input:focus {
  box-shadow: 0 0 7px rgba(250, 208, 0, 1);
  border: 2px solid rgba(250, 208, 0, 1);
}

@media screen and (max-width: 600px) {
  .search-area {
    margin-top: 35px !important;
  }
  .search-area input {
    width: 150px;
    margin-top: 15px;
  }
}
