.search-area {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.textSearch {
  width: 80%;
}

.search-btn {
  color: #fad000;
  background-color: #2d2b55;
  border-radius: 10px;
  padding: 7px 30px 8px 30px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid rgba(250, 208, 0, 1);
  flex: 2;
  font-size: 14px;
}

.search-btn:hover {
  background-color: #222244;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(250, 208, 0, 1);
  border: 1px solid rgba(250, 208, 0, 1);
}

.search-area input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #2d2b55;
  color: #fad000;
  text-indent: 20px;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
  font-size: 14px;
  border: 1px solid rgba(250, 208, 0, 1);
  flex: 3;
}

.search-area input:focus {
  box-shadow: 0 0 7px rgba(250, 208, 0, 1);
  border: 2px solid rgba(250, 208, 0, 1);
}
