th {
  padding: 10px 20px 10px 20px;
  border: 1px solid #fad000;
  background-color: black;
  cursor: pointer;
}

.country,
.active {
  color: #fad000;
  text-align: left;
  padding: 10px 15px 10px 15px;
}

.active a {
  color: #fad000;
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: solid 3px indianred;
  text-align: left;
  transition: all 0.5s;
}

.active a:hover {
  border-bottom: solid 3px green;
}

.cases,
.recovered,
.case_per_million {
  color: green;
  text-align: left;
  padding: 10px 15px 10px 15px;
}

.cases_today,
.critical {
  color: indianred;
  text-align: left;
  padding: 10px 13px 10px 13px;
}

.deaths,
.today_death,
.death_per_million {
  color: red;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
