th {
  padding: 10px 20px 10px 20px;
  border: 1px solid #fad000;
  background-color: black;
  cursor: pointer;
}

.country,
.active {
  color: #fad000;
  text-align: left;
}

.cases,
.recovered,
.case_per_million {
  color: green;
  text-align: left;
}

.cases_today,
.critical {
  color: indianred;
  text-align: left;
}

.deaths,
.today_death,
.death_per_million {
  color: red;
  text-align: left;
}
